.souligner{
    text-decoration: underline double red;
}
.upper{
    text-decoration: overline red;
}

.barre{
    text-decoration: line-through red;
}

.empha{
    -webkit-text-emphasis-style: triangle;
}

p{
    font-stretch: ultra-expanded;
    letter-spacing: 5px;
    word-spacing: 10px;
}