@font-face{
    font-family: 'Dongle';
    src: url(../Font/Lato-Regular.ttf);

}
html{
    padding-top: 1%;
    background-image: url(../img/background.jpg);
    font-size: 16px;
    font-family: 'Dongle', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header li{
    text-decoration: none;
    list-style:none
}
nav>ul{
    width: 500px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    display: flex;
    align-items: center;
}
header a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100px;
    height: 20px;
    text-align: center;
    background-color: #C4C4C4;
    border: #C4C4C4 solid;
    border-radius: 10px;
    color: black;
}
aside span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    position:absolute;   
    margin-top:-80px;
    margin-left:-131px;
    color:rgb(255, 255, 255);
    background:rgba(0,0,0,.9);
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transform:scale(0); 
    transition:all .25s;
    border-radius: 15px;
    opacity:0;          
}
aside:hover span, aside:focus span{
    transform:scale(1) rotate(0);  
    opacity:1;     
}
aside>span>a{
    text-decoration: none;
    background-color: white;
    border-radius: 15px;
    width: 100px;
    text-align: center;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
#h1{
    background-color: #9E9E9E;
    width: 1150.46px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 85px;
    border-radius: 25px;

}
h1{
    margin: 0;
}
iframe:hover{
    transition: 2s;
    -webkit-transform:scale(3); /* Safari et Chrome */
    -moz-transform:scale(3); /* Firefox */
    -ms-transform:scale(3); /* Internet Explorer 9 */
    -o-transform:scale(3); /* Opera */
    transform:scale(3);
    }
iframe{
    border-radius: 15px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    border-radius: 25px;
}
#a3{
    background-color: black;
    color: white;
}
header a:hover{
    transition: 0.5s;
    text-decoration: none;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: #C4C4C4;
    border: #C4C4C4 solid;
    border-radius: 10px;
}
h1{
    font-size: 75px;
}
header>nav{
    width: 1150px;
    height: 50px;    
    background-color: #9E9E9E;
    border: solid #9E9E9E;
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main>section{
        background-color: #9E9E9E;
        width: 1150px;
        height: 1000px;
        border: solid #9E9E9E;
        border-radius: 17.5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
}
input{
    margin-bottom: 20px;
}
section>h2{
    background-color: #C4C4C4;
    border-radius: 17.5px;
    width: 200px;
    text-align: center;
    font-size: 30px;
}
section form{
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centre{
    padding-top: 10px;
    display: flex;
}
section fieldset{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;
    border: #C4C4C4 solid;
    border-radius: 10px;
}
input, textarea{
    border-radius: 10px;
}
label{
    background-color: white;
    border: white solid;
    border-radius: 10px;
    margin-bottom: 3px;
}
.adresse{
    width: 800px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: #C4C4C4;
    border: #C4C4C4 solid;
    border-radius: 10px;
}
section>article{
    border-radius: 17.5px;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer{    
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 15px;
    background-color: white;
    margin: 5px;
}
button:hover{
    color: white;
    background-color: black;
    border-color: white;
    cursor: pointer;
}
footer>section{

    background-color: #9E9E9E;
    width: 1150px;
    height: 75px;
    border: solid #9E9E9E;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
footer>section>*{
    background-color: #C4C4C4;
    border: solid #C4C4C4;
    border-radius: 17.5px;
    text-decoration: none;
    color: black;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:720px) {
   html{
       width: 100%;
       padding: 0;
       margin: 0;
       position: relative;
   } 
   h1{
        font-size: 50px;
   }
   header>div, footer>section, main>section{
       width: 500px;
   }
   nav>div{
       display: flex;
       justify-content: space-evenly;
   }
   header>nav{
    width: 500px;
   }
   .adresse{
    width: 450px;
   }
   iframe, #hide{
       display: none;
   }
   footer p{
       font-size: 12px;
       width: 120px;
   }
    section fieldset{
       width: 450px;
   }
   aside>img{
    background-color: white;
    border-radius: 10px;
}
aside{
    display: initial;
    position: fixed;
    top: 550px;  
    left: 450px;  
}
    header>nav{
        display: none;
    }
}
