@font-face{
    font-family: 'Dongle';
    src: url(../Font/Lato-Regular.ttf);
}
#h1{
    background-color: #9E9E9E;
    width: 1150.46px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 85px;
    border-radius: 25px;

}
h1{
    margin: 0;
}
html{
    padding-top: 1%;
    background-image: url(../img/background.jpg);
    font-size: 16px;
    font-family: 'Dongle', sans-serif;
}
article>div{
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
}
div>p{
    padding: 0;
    margin-top: 25px;
    align-self: center;
    margin-right: 10%;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
header li{
    text-decoration: none;
    list-style:none
}
nav>ul{
    width: 500px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0;
}
header a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100px;
    height: 20px;
    text-align: center;
    background-color: #C4C4C4;
    border: #C4C4C4 solid;
    border-radius: 10px;
    color: black;
}
#a1{
    background-color: black;
    color: white;
}
header a:hover{
    transition: 0.5s;
    text-decoration: none;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: #C4C4C4;
    border: #C4C4C4 solid;
    border-radius: 10px;
}
h1{
    font-size: 75px;
}
header>nav{
    background-color: #9E9E9E;
    width: 1150px;
    height: 50px;
    border: solid #9E9E9E;
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main>section{
        background-color: #9E9E9E;
        width: 1150px;
        height: 1000px;
        border: solid #9E9E9E;
        border-radius: 17.5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
}
.s1{
    background-color: #9E9E9E;
    width: 1050px;
    height: 250px;
    border: solid #9E9E9E;
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.s1>article{
    background-color: #C4C4C4;
    width: 650px;
    height: 200px;
    border: solid #C4C4C4;
    border-radius: 17.5px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spe1>a{
    padding-right: 10px;
    margin-top: -10px;
}
.spe1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.t1{
    margin-bottom: 5px;
    margin-top: 5px;
}
footer{    
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer>section{

    background-color: #9E9E9E;
    width: 1150px;
    height: 75px;
    border: solid #9E9E9E;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
footer>section>*{
    background-color: #C4C4C4;
    border: solid #C4C4C4;
    border-radius: 17.5px;
    text-decoration: none;
    color: black;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#admin{
    cursor: pointer; 
}
@media screen and (max-width:720px) {
    html{
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
    } 
    h1{
        font-size: 50px;
   } 
    header>div, footer>section, main>section{
        width: 500px;
    }
    nav>div{
        display: flex;
        justify-content: space-evenly;
    }
    header>nav{
     width: 500px;
    }
    .adresse{
     width: 450px;
    }
    iframe, #hide{
        display: none;
    }
    footer p{
        font-size: 12px;
        width: 120px;
    }
     section fieldset{
        width: 450px;
    }
    section>img{
        display: none;
    }
    .s1, article{
        width: 450px;
        height: 500px;
    }
    main>section{
        height: 1000px;
    }
    .s1>article{
        background-color: #C4C4C4;
        width: 650px;
        height: 300px;
        border: solid #C4C4C4;
        border-radius: 17.5px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    strong{
        display: none;
    }
    article img{
        display: initial;
    }
    .spe1{
        display: flex;
        flex-direction: column;
    }
    header>nav{
        display: none;
}
    aside>img{
        background-color: white;
        border-radius: 10px;
    }
    aside{
        display: initial;
        position: fixed;
        top: 550px;  
        left: 450px;  
    }
 }